# Importing data

In [11]:
### This is simply reading in the data files necessary for this notebook

import pandas as pd
github_p = "https://github.com/firmai/Financial-Machine-Learning/blob/master/Lecture%202%20-%20Python%20for%20Finance/"
try:
    path = "data/"
    df = pd.read_csv(path+'Google.csv',index_col=0,parse_dates=[0]) # Setting the first column as index
    
except:
    print("loading github files")
    df = pd.read_csv(github_p+path+'Google.csv'+'?raw=true',index_col=0,parse_dates=[0]) # Setting the first column as index column

In [12]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01000,104.06000,95.96000,100.33500,"44,659,000.00000",0.00000,1.00000,50.15984,52.19111,48.12857,50.32284,"44,659,000.00000"
2004-08-20,101.01000,109.08000,100.50000,108.31000,"22,834,300.00000",0.00000,1.00000,50.66139,54.70888,50.40560,54.32269,"22,834,300.00000"
2004-08-23,110.76000,113.48000,109.05000,109.40000,"18,256,100.00000",0.00000,1.00000,55.55148,56.91569,54.69383,54.86938,"18,256,100.00000"
2004-08-24,111.24000,111.60000,103.57000,104.87000,"15,247,300.00000",0.00000,1.00000,55.79223,55.97278,51.94535,52.59736,"15,247,300.00000"
2004-08-25,104.76000,108.00000,103.88000,106.00000,"9,188,600.00000",0.00000,1.00000,52.54219,54.16721,52.10083,53.16411,"9,188,600.00000"

In [40]:
df["return"] = ((df.Close - df.Close.shift(1))/df.Close.shift(1))
df = df.dropna(subset=["return"])

# Questions - Returns

### Question - Average Return

Calculate the average return of the time series

In [42]:
### Write Here
df["return"].mean()

0.0009291202098925328

**Expected Output:**

0.0009291


### Question - Return Standard Deviation

Calculate the average standard deviation of returns

In [43]:
### Write Here
df["return"].std()

0.021662943075354577

**Expected Output:**

0.02166294

### Question - Period Return Daily Average

Calculate the average daily return from 2004-08-25 to 2005-08-25

In [60]:
### Write Here
df.loc["2004-08-25":"2005-08-25"]["return"].mean()

0.0042270656465554215

**Expected Output:**

0.00422706

### Question - Average Daily Return for All Months

Calculate the daily average return for all months

In [ ]:
### Write Here

df["return"].resample("M").mean()

**Expected Output:**

Date
2004-08-31    0.00314
2004-09-30    0.01153
2004-10-31    0.01940
2004-11-30   -0.00155
2004-12-31    0.00280
2005-01-31    0.00114
...........

# Questions - Risk Measures

In [66]:
df.head()

,DoD (%),FTSE 100 (%),DoD - FTSE 100 (%),PDoD,PFTSE 100,PPDoD,PPFTSE 100,Risk-Free Rate (%)
Dates,,,,,,,,
2002-01-31,-0.32,-1.01,0.69,1.00,0.99,"9,967.66","9,899.18",0.32
2002-02-28,-2.79,-1.24,-1.55,0.97,0.99,"9,693.31","9,776.90",0.32
2002-03-31,6.22,2.91,3.31,1.06,1.03,"10,315.07","10,065.17",0.32
2002-04-30,-0.32,-1.65,1.33,1.00,0.98,"10,282.46","9,900.72",0.33
2002-05-31,1.32,-1.57,2.89,1.01,0.98,"10,418.65","9,746.43",0.33

In [67]:
len(df)

180

In [62]:
### Not Too Bad - Excess Volarility Does Seem to Play in Effect

d = df["return"].mean()
s = df["return"].std(ddof = 1)
n = np.sqrt(len((df["return"])))

### Question - Calculate the t-stat

In [66]:
### Write Here

t = d/s*n
t

2.397231417972479

**Expected Output:**
    
2.39723

### Question - Calculate Skewness and Kurtosis

In [69]:
### Write Here (Skewness)
df["return"].skew()

-3.1229151882416484

**Expected Output:**
    
-3.122

In [115]:
###  Write Here (Kurtosis)
df["return"].kurtosis()

96.20206382176652

**Expected Output:**
    
96.2

### Questions - Dataframe

In [90]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return
Date,,,,,,,,,,,,,
2004-08-20,101.01000,109.08000,100.50000,108.31000,"22,834,300.00000",0.00000,1.00000,50.66139,54.70888,50.40560,54.32269,"22,834,300.00000",0.07948
2004-08-23,110.76000,113.48000,109.05000,109.40000,"18,256,100.00000",0.00000,1.00000,55.55148,56.91569,54.69383,54.86938,"18,256,100.00000",0.01006
2004-08-24,111.24000,111.60000,103.57000,104.87000,"15,247,300.00000",0.00000,1.00000,55.79223,55.97278,51.94535,52.59736,"15,247,300.00000",-0.04141
2004-08-25,104.76000,108.00000,103.88000,106.00000,"9,188,600.00000",0.00000,1.00000,52.54219,54.16721,52.10083,53.16411,"9,188,600.00000",0.01078
2004-08-26,104.95000,107.95000,104.66000,107.91000,"7,094,800.00000",0.00000,1.00000,52.63749,54.14213,52.49204,54.12207,"7,094,800.00000",0.01802

### Question - Open Lower than Close

Count the number of days where the opening price is lower than the close price.

In [92]:
### Write Here

len(df[df["Open"]<df["Close"]])

1524

**Expected Output:**
    
1524

### Question - Top 5 Volume

Find the five days with the highest volume trading

In [96]:
### Write Here

df["Volume"].sort_values(ascending=False).head().index

DatetimeIndex(['2006-01-20', '2006-02-28', '2005-02-14', '2004-10-22',
               '2006-03-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

**Expected Output:**
    
DatetimeIndex(['2006-01-20', '2006-02-28', '2005-02-14', '2004-10-22',
               '2006-03-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

### Question - High Returns

Count the proportion number of days where the returns are more than 2%

In [105]:
### Write Here

len(df[df["return"]>0.02])

337

**Expected Output:**
    
337

### Question - Calculate Average returns for Mondays and Fridays

Separately Calculate Returns for Mondays and Fridays

In [109]:
df["date"] = df.index.values

In [113]:
###  Write Here (Mondays)

df["dow"] = df["date"].dt.day_name()

df[df["dow"]=="Monday"]["return"].mean()

0.00045777019229038514

**Expected Output:**
    
0.000457

In [116]:
###  Write Here (Fridays)

df[df["dow"]=="Friday"]["return"].mean()

0.001232131353859411

**Expected Output:**
    
0.00123

### Question - Correlation

Identify the correlation between the opening and closing price

In [117]:
### Write Here

df["Open"].corr(df["Close"])

0.9992758711729253

**Expected Output:**
    
0.9992758711729253