# Importing data

In [14]:
### This is simply reading in the data files necessary for this notebook
import numpy as np
import pandas as pd
github_p = "https://github.com/firmai/FinML/blob/master/Lecture%201%20-%20Python%20Basics/"
try:
    path = "data/"
    df = pd.read_csv(path+'Google.csv',index_col=0,parse_dates=[0]) # Setting the first column as index
    
except:
    print("loading github files")
    df = pd.read_csv(github_p+path+'Google.csv'+'?raw=true',index_col=0,parse_dates=[0]) # Setting the first column as index column

In [15]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [16]:
df["return"] = ((df.Close - df.Close.shift(1))/df.Close.shift(1))
df = df.dropna(subset=["return"])

# Questions - Returns

### Question - Average Return

Calculate the average return of the time series

In [17]:
### Write Here (All these solutions would be deleted for the student version)
df["return"].mean()

0.0009291202098925328

**Expected Output:**

0.0009291


### Question - Return Standard Deviation

Calculate the average standard deviation of returns

In [18]:
### Write Here
df["return"].std()

0.021662943075354577

**Expected Output:**

0.02166294

### Question - Period Return Daily Average

Calculate the average daily return from 2004-08-25 to 2005-08-25

In [19]:
### Write Here
df.loc["2004-08-25":"2005-08-25"]["return"].mean()

0.0042270656465554215

**Expected Output:**

0.00422706

### Question - Average Daily Return for All Months

Calculate the daily average return for all months

In [20]:
### Write Here

df["return"].resample("M").mean()

Date
2004-08-31    0.003144
2004-09-30    0.011525
2004-10-31    0.019399
2004-11-30   -0.001554
2004-12-31    0.002802
2005-01-31    0.001142
2005-02-28   -0.001720
2005-03-31   -0.001768
2005-04-30    0.009674
2005-05-31    0.011207
2005-06-30    0.002914
2005-07-31   -0.000969
2005-08-31   -0.000176
2005-09-30    0.004939
2005-10-31    0.008182
2005-11-30    0.004194
2005-12-31    0.001239
2006-01-31    0.002643
2006-02-28   -0.008644
2006-03-31    0.003494
2006-04-30    0.003835
2006-05-31   -0.005136
2006-06-30    0.005619
2006-07-31   -0.003987
2006-08-31   -0.000815
2006-09-30    0.003111
2006-10-31    0.007994
2006-11-30    0.000932
2006-12-31   -0.002499
2007-01-31    0.004410
                ...
2014-08-31    0.000272
2014-09-30    0.000541
2014-10-31   -0.001431
2014-11-30   -0.001747
2014-12-31   -0.001441
2015-01-31    0.000807
2015-02-28    0.002464
2015-03-31   -0.000567
2015-04-30   -0.000429
2015-05-31   -0.000261
2015-06-30   -0.000401
2015-07-31    0.009603
2015-08-31   -0.000379
2015-09-30   -0.000659
2015-10-31    0.006784
2015-11-30    0.001758
2015-12-31    0.000981
2016-01-31   -0.000935
2016-02-29   -0.002840
2016-03-31    0.002878
2016-04-30   -0.003440
2016-05-31    0.002727
2016-06-30   -0.002751
2016-07-31    0.005944
2016-08-31   -0.000071
2016-09-30    0.000893
2016-10-31    0.000378
2016-11-30   -0.001935
2016-12-31    0.001054
2017-01-31    0.004326
Freq: M, Name: return, Length: 150, dtype: float64

**Expected Output:**

Date
2004-08-31    0.00314
2004-09-30    0.01153
2004-10-31    0.01940
2004-11-30   -0.00155
2004-12-31    0.00280
2005-01-31    0.00114
...........

# Questions - Risk Measures

In [21]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return
Date,,,,,,,,,,,,,
2004-08-20,101.01,109.08,100.50,108.31,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0,0.079484
2004-08-23,110.76,113.48,109.05,109.40,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0,0.010064
2004-08-24,111.24,111.60,103.57,104.87,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0,-0.041408
2004-08-25,104.76,108.00,103.88,106.00,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0,0.010775
2004-08-26,104.95,107.95,104.66,107.91,7094800.0,0.0,1.0,52.637487,54.142132,52.492038,54.122070,7094800.0,0.018019

In [22]:
len(df)

3124

In [23]:
### Not Too Bad - Excess Volarility Does Seem to Play in Effect

d = df["return"].mean()
s = df["return"].std(ddof = 1)
n = np.sqrt(len((df["return"])))

### Question - Calculate the t-stat

In [24]:
### Write Here

t = d/s*n
t

2.397231417972479

**Expected Output:**
    
2.39723

### Question - Calculate Skewness and Kurtosis

In [25]:
### Write Here (Skewness)
df["return"].skew()

-3.1229151882416484

**Expected Output:**
    
-3.122

In [26]:
###  Write Here (Kurtosis)
df["return"].kurtosis()

96.20206382176652

**Expected Output:**
    
96.2

### Questions - Dataframe

In [27]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,return
Date,,,,,,,,,,,,,
2004-08-20,101.01,109.08,100.50,108.31,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0,0.079484
2004-08-23,110.76,113.48,109.05,109.40,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0,0.010064
2004-08-24,111.24,111.60,103.57,104.87,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0,-0.041408
2004-08-25,104.76,108.00,103.88,106.00,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0,0.010775
2004-08-26,104.95,107.95,104.66,107.91,7094800.0,0.0,1.0,52.637487,54.142132,52.492038,54.122070,7094800.0,0.018019

### Question - Open Lower than Close

Count the number of days where the opening price is lower than the close price.

In [28]:
### Write Here

len(df[df["Open"]<df["Close"]])

1524

**Expected Output:**
    
1524

### Question - Top 5 Volume

Find the five days with the highest volume trading

In [29]:
### Write Here

df["Volume"].sort_values(ascending=False).head().index

DatetimeIndex(['2006-01-20', '2006-02-28', '2005-02-14', '2004-10-22',
               '2006-03-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

**Expected Output:**
    
DatetimeIndex(['2006-01-20', '2006-02-28', '2005-02-14', '2004-10-22',
               '2006-03-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

### Question - High Returns

Count the proportion number of days where the returns are more than 2%

In [30]:
### Write Here

len(df[df["return"]>0.02])

337

**Expected Output:**
    
337

### Question - Calculate Average returns for Mondays and Fridays

Separately Calculate Returns for Mondays and Fridays

In [31]:
df["date"] = df.index.values

In [32]:
###  Write Here (Mondays)

df["dow"] = df["date"].dt.day_name()

df[df["dow"]=="Monday"]["return"].mean()

0.00045777019229038514

**Expected Output:**
    
0.000457

In [33]:
###  Write Here (Fridays)

df[df["dow"]=="Friday"]["return"].mean()

0.001232131353859411

**Expected Output:**
    
0.00123

### Question - Correlation

Identify the correlation between the opening and closing price

In [34]:
### Write Here

df["Open"].corr(df["Close"])

0.9992758711729252

**Expected Output:**
    
0.9992758711729253